pipeline/parameter_file_json.json
{
	"name": "parameter_file_json",
	"properties": {
		"activities": [
			{
				"name": "read_parameter_json_file",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_JSON_ADLS",
						"type": "DatasetReference",
						"parameters": {
							"container": "learn-it-project",
							"directory": "parameter",
							"filename": "param_json.json"
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "read_parameter_json_file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "value",
					"value": {
						"value": "@activity('read_parameter_json_file').output.firstRow.p_DEPT_ID",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"value": {
				"type": "String"
			}
		},
		"folder": {
			"name": "ADF_TRAINING_NEW"
		},
		"annotations": []
	}
}