pipeline/parameter_file_json.json
{
	"name": "parameter_file_json",
	"properties": {
		"activities": [
			{
				"name": "read_parameter_json_file",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_JSON_ADLS",
						"type": "DatasetReference",
						"parameters": {
							"container": "learn-it-project",
							"directory": "parameter",
							"filename": "param_json.json"
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "read_parameter_json_file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "json_value",
					"value": {
						"value": "@activity('read_parameter_json_file').output.firstRow.p_DEPT_ID",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "select * from dbo.json_src where p_DEPT_ID=\n'@{variables('json_value')}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlServerSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_onprem_sql",
						"type": "DatasetReference",
						"parameters": {
							"schema_name": "dbo",
							"table_name": "json_src"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_onprem_sql",
						"type": "DatasetReference",
						"parameters": {
							"schema_name": "dbo",
							"table_name": "tgt_param_json"
						}
					}
				]
			}
		],
		"variables": {
			"json_value": {
				"type": "String"
			},
			"p_insurance_type_list": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "ADF_TRAINING_NEW"
		},
		"annotations": []
	}
}