pipeline/pip_append_variable.json
{
	"name": "pip_append_variable",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "array_var1",
					"value": {
						"value": "@variables('array_var')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Append variable1",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "array_var",
					"value": {
						"value": "@int(5)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Append variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "array_var1",
					"value": {
						"value": "@variables('array_var')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"array_var": {
				"type": "Array",
				"defaultValue": [
					1,
					2,
					3,
					4
				]
			},
			"array_var1": {
				"type": "Array"
			},
			"var_3": {
				"type": "Integer"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-10-09T02:53:30Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}