pipeline/pip_process_latest_files.json
{
	"name": "pip",
	"properties": {
		"description": "Get latest filename from the source folder based on the date and process.",
		"activities": [
			{
				"name": "read_all_files_from_folder",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_adls_dynamic",
						"type": "DatasetReference",
						"parameters": {
							"container": "learn-it-project",
							"directory": "Input",
							"filename": {
								"value": " ",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "traverse_all_files",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "read_all_files_from_folder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('read_all_files_from_folder').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "fetch_last_modified_date",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_adls_dynamic",
									"type": "DatasetReference",
									"parameters": {
										"container": "learn-it-project",
										"directory": "Input",
										"filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"lastModified",
									"itemName"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "compare_the_date",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "fetch_last_modified_date",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(activity('fetch_last_modified_date').output.lastModified,variables('max_last_modified_date'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "update_last_modified_date",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "max_last_modified_date",
											"value": {
												"value": "@activity('fetch_last_modified_date').output.lastModified",
												"type": "Expression"
											}
										}
									},
									{
										"name": "update_filename",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "update_last_modified_date",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "file_name",
											"value": {
												"value": "@item().name",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Copy_latest_file_data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "traverse_all_files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlServerSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_adls_dynamic",
						"type": "DatasetReference",
						"parameters": {
							"container": "learn-it-project",
							"directory": "Input",
							"filename": {
								"value": "@variables('file_name')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_onprem_sql",
						"type": "DatasetReference",
						"parameters": {
							"schema_name": "dbo",
							"table_name": "latest_file_table"
						}
					}
				]
			}
		],
		"variables": {
			"max_last_modified_date": {
				"type": "String",
				"defaultValue": "1900-00-00T00:00:00Z"
			},
			"file_name": {
				"type": "String"
			}
		},
		"folder": {
			"name": "ADF_TRAINING_NEW"
		},
		"annotations": []
	}
}