pipeline/read_parameter_file.json
{
	"name": "read_parameter_file",
	"properties": {
		"activities": [
			{
				"name": "read_parameter_file_csv_first_row",
				"type": "Lookup",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_adls_dynamic",
						"type": "DatasetReference",
						"parameters": {
							"container": "learn-it-project",
							"directory": "parameter",
							"filename": "param.csv"
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Copy_sql_to_azureSQL_parameter",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "select * from dbo.learnit_batch9_employee where dept_id=@{variables('v_dept_id')}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlServerSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_onprem_sql",
						"type": "DatasetReference",
						"parameters": {
							"schema_name": "dbo",
							"table_name": "learnit_batch9_employee"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_onprem_sql",
						"type": "DatasetReference",
						"parameters": {
							"schema_name": "dbo",
							"table_name": "learnit_batch9_emp_param"
						}
					}
				]
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "read_parameter_file_csv_first_row",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_dept_id",
					"value": {
						"value": "@activity('read_parameter_file_csv').output.firstRow.department_id",
						"type": "Expression"
					}
				}
			},
			{
				"name": "read_parameter_file_csv_second_row",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_adls_dynamic",
						"type": "DatasetReference",
						"parameters": {
							"container": "learn-it-project",
							"directory": "parameter",
							"filename": "param.csv"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Set variable_multi_row",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "read_parameter_file_csv_second_row",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_dept_id",
					"value": {
						"value": "@{activity('read_parameter_file_csv_second_row').output.value[1].department_id}\n\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy_sql_to_azureSQL_parameter_copy1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable_multi_row",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "select * from dbo.learnit_batch9_employee where dept_id=@{variables('v_dept_id')}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlServerSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_onprem_sql",
						"type": "DatasetReference",
						"parameters": {
							"schema_name": "dbo",
							"table_name": "learnit_batch9_employee"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_onprem_sql",
						"type": "DatasetReference",
						"parameters": {
							"schema_name": "dbo",
							"table_name": "learnit_batch9_emp_param"
						}
					}
				]
			}
		],
		"variables": {
			"v_dept_id": {
				"type": "String"
			}
		},
		"folder": {
			"name": "ADF_TRAINING_NEW"
		},
		"annotations": []
	}
}